# Secrets
db.dat
client_secrets.json

# Python and environments
__pycache__/
*.py[cod]
venv/
.env

# PyInstaller build files
backend/build/
backend/dist/
interfile_index_cache.json
global_stats_cache.json

# HAPAG BASELINE FOLDER (DO NOT ADD TO GITHUB)
HAPAG APPROVED BASELINE/

*.code-workspace

# PyInstaller binary output
backend/_internal/
backend/hapag_comparator

BRD.md
BRD.docx
bitbucket_migration_guide.md

.antigravitycli/